html,
body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: #efb678;
  min-height: 100vh;
  color: black;
}

.aboutPage {
  position: relative;
  z-index: 100;
}

.panelHolder {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  margin: 100px 0;
}

@media (min-width: 775px) {
  .panelHolder:nth-child(even) .box:first-child {
    order: 2;
  }
}

.box {
  margin: 2.5%;
  height: 50vw;
  width: 50vw;
  max-height: 300px;
  max-width: 300px;
  min-height: 250px;
  min-width: 250px;

  @media (max-width: 775px) {
    width: 100%;
    max-width: 100%;
  }

  &.boxImage {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &.right {
      background-position: top right;
    }

    &.left {
      background-position: top left;
    }

    &.whiteBack {
      background-color: white;
    }

    &.contain {
      background-size: contain;
    }

    &.center {
      background-position: center;
    }
  }

  &.boxText {
    height: auto;
    min-height: 0px;

    h2 {
      margin-top: 0px;
    }

    p {
      text-align: left;
    }
  }
}

.box {
  margin: 2.5%;
  height: 50vw;
  width: 50vw;
  max-height: 300px;
  max-width: 300px;
  min-height: 250px;
  min-width: 250px;
}

@media (max-width: 775px) {
  .box {
    width: 100%;
    max-width: 100%;
  }
}

.box.boxImage {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.box.boxImage.right {
  background-position: top right;
}

.box.boxImage.left {
  background-position: top left;
}

.box.boxImage.whiteBack {
  background-color: white;
}

.box.boxImage.contain {
  background-size: contain;
}

.box.boxImage.center {
  background-position: center;
}

.box.boxText {
  height: auto;
  min-height: 0px;
}

.box.boxText h2 {
  margin-top: 0px;
}

.box.boxText p {
  text-align: left;
}
